{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-1">Login</h1>
    <h5>Please enter your login credentials.</h5>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-6">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <span class="input-group-text w-25">{{ form.username.label_tag }}</span>
                    {{ form.username }}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text w-25">{{ form.password.label_tag }}</span>
                    {{ form.password }}
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </form>
        </div>
    </div>
</div>
{% endblock %}